<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		
	</startup>
	<connectionStrings>
		<add name="Shedule_DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\My_Projects\C#_Projects\2022\Urfu_Shedule_Parser\Urfu_Shedule_Parser\Saving_Data\Database1.mdf;Integrated Security=True"/>
		
	</connectionStrings>
</configuration>